@import "node_modules/bootstrap/scss/bootstrap";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500&family=Roboto&display=swap");

.backgroundImage {
  background-image: url("../../assets/black-mercedes-benz-luxury-car-hd-ejv7552y5ziw5gn4-removebg-preview 1 (2).png");
  // background-size: 110vh;
  background-color: black;
  background-repeat: no-repeat;
  height: 130vh;
  width: 100%;
}

.navbar-top {
  // background: black;
}

img {
  height: 2.5rem;
}

.navbar-logos {
  border: solid gray;
  border-radius: 100%;
  width: 38px;
  height: 38px;
  padding: 5px;
  margin-right: 2rem;
  // flex-shrink: 0;
}

.car-subs-logogroup {
  display: flex;
}

.brand-logo {
  padding-left: 70px;
  margin-top: -10px;
}

.navbar-links {
  color: white;
  display: flex;
  justify-content: flex-end;
  margin-right: 10px;
  margin-right: -240px;
}

.navbar-links p {
  // color: black;
  padding-right: 25px;
  // margin-right: 10px;
  margin-top: 1px;
  color: #c9d6df;
  font-family: Montserrat;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.language-menu {
  display: flex;
  color: white;
  // justify-content: center;
  align-items: baseline;
  // padding: auto;
  padding-right: 10px;
  // margin-left: 10px;
}
.navbar-drop-arrow {
  margin-top: 6px;
  width: 16px;
  height: 10px;
  justify-content: center;
  margin-left: 3px;
}

.car-subs-search input {
  background-color: #f4f4f4;

  width: 20rem;

  height: 2.5rem;
}

.car-subs-search img {
  max-width: 20%;

  max-height: 20%;
}

.vr {
  width: 2px;

  color: black;
}

.card-container {
  position: relative;
  // transform: scale(1.2);
  margin-left: 20px;
  border-radius: 15px;
  border: solid #d9d9d9;
  // height: 450px;
  padding: 10px;
  // height: 350px;
}

.first-card-text {
  position: absolute;
  color: #fff;
  font-family: Inter;
  font-size: 33px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%; /* 52px */
  letter-spacing: -0.8px;
}

.first-card {
  // margin: 10px;
  width: 25rem !important;
  margin-bottom: 15px;
  border-radius: 16px;
}

.first-card-text-3 {
  color: #fff;
  font-family: Montserrat;
  font-size: 22px;
  font-style: normal;
  font-weight: 800;
  line-height: 150%; /* 36px */
}

.card-img-top {
  object-fit: cover;
  height: 395px;
  border-radius: 15px;
}

.list-group-item {
  font-size: 15px !important;
  word-spacing: 5px;
  background: none;
  border: none;
  color: white;
  margin: 0;
  margin-left: -15px;
  // gap: 72px;
  display: flex;
}

.list-group-horizontal {
  gap: 64px;
}

.car-name {
  width: 200px;
}

.list-group {
  margin: -13px;
}

.car-name-side-ele {
  margin-left: -88px;
  display: flex;
  flex-direction: row;
  // justify-content: space-between;
  // gap: 20px;
}

.car-name-side-ele-logo {
  width: 24px;
  height: 24px;
}

#png1 {
  margin-left: -124px;
}

.car-name-side-ele-text {
  font-size: 14px;
  word-spacing: 1px;
  padding-left: 1px;
}

.car-price-text {
  color: #fff;
  font-family: Montserrat;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.car-price-offer-text {
  color: #d9d9d9;
  font-family: Plus Jakarta Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-decoration-line: line-through;
}

.sub-string {
  color: #d9d9d9;
  font-family: Plus Jakarta Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  // text-decoration: overline;
  margin-top: -10px;
  padding-left: 3px;
}

.car-offer-price {
  display: flex;
  align-items: center;
}

.see-details {
  border-radius: 30px;
  width: 213px !important;
  height: 51px !important;
  color: #fff;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

.card-container {
  display: flex;
}

.second-card {
  padding-left: 42px;
}

.search-filters {
  color: #232738;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.3px;
}

.search-filters-side-text {
  color: #232738;
  font-family: Montserrat;
  font-size: 18px !important;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.3px;
}

.search-filters-crosspng {
  width: 32px;
  height: 32px;
  border-radius: 5px;
  border: 0.8px solid rgba(0, 0, 0, 0.15);
  margin-left: 186px;
}

.search-box {
  padding-top: 16px;
  padding-bottom: 16px;
  width: 27.3rem;
  // display: flex;
}

.search-box-span {
  display: flex;
}

.serach-box-img {
  padding-left: 45px;
  // padding-right: 3px;
  // background: url("search-outline 1.png") no-repeat left;
  background: url("../icons/search-outline 1.png") no-repeat left;
  background-size: 20px;
  background-position: 15px;
  // margin-left: 5px;
}

.text-below-searchbox {
  color: #232738;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.3px;
}

.filter-list {
  display: flex;
  flex-wrap: wrap;
  text-decoration: none;
}

.filter-item {
  border: solid rgb(214, 200, 173);
  // padding: 20px;
  margin-left: 10px;
  background: white;
  text-decoration: none;
  color: black;
  display: flex;
  border-radius: 5px;
  align-items: center;
}

.filter-item:hover {
  background-color: red;
  color: white;
  border-color: red;
}

.cross-icon:hover {
  color: white;
  transform: rotate(45deg);
}

.cross-icon {
  background: url("../icons/Layer 2.png");
  background-position: 30%;
  // transform: rotate(0deg);
  // align-items: end;
  // margin: auto;
  // display: block;
  // display: flex;
  height: 25px;
  width: 25px;
}

.text-below-filter-second-card {
  margin-top: 14px;
  color: #322651;
  font-family: Montserrat;
  font-size: 12px;
  font-style: italic;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.3px;
  text-decoration-line: underline;
}

.location-icon-second-card {
  width: 18px;
  height: 18px;
}

.budget {
  color: #232738;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.3px;
  display: block;
}

.budget-slider {
  width: 28rem;
  // background: red;
}

input[type="range"]::-webkit-slider-runnable-track {
  width: 300px;
  height: 5px;
  background: transparent;
  border-color: transparent;
  border-width: 6px 0;
  color: transparent;

  //=============================================================
  appearance: none;
  // margin:5px;
  width: calc(100% - 10px);
  width: -webkit-calc(100% - 10px);
  // height:25px;
  // outline:none;
  background: bisque;
  // border-radius:12px;
  // overflow: hidden;
}
input[type="range"]::-webkit-slider-thumb {
  background: #ff0000;
  border-radius: 10px;
}

.price-range {
  display: flex;
  // align-items: center;
  justify-content: space-between;
}

input[type="range"]::-webkit-slider-runnable-track {
  background: #ffffff;
}
input[type="range"]::-webkit-slider-runnable-track {
  background: #777777;
}

.price-range-number {
  color: rgba(50, 38, 81, 0.75);
  // text-align: right;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.3px;
}

.Condition-second-card {
  display: flex;
  justify-content: space-between;
}

.Condition-second-card-arrow {
  width: 12px;
  height: 6px;
  align-self: center;
}

.Condition-second-card-text {
  color: var(--gray-scale-gray-900, #1a1a1a);
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 27px */
}

.third-card {
  // padding: 10px;
  // margin-left: 60px;
  margin-left: 15px;
  width: 431px;
}

.vertical-line {
  border-right: 1px solid #d0d0d0;
  // background: ;
}

.third-card-headers {
  margin-bottom: -20px;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  color: rgba(26, 32, 44, 0.5);
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 30px */
  width: 100%;
  cursor: pointer;
  text-align: center;
  padding-top: 11.07px;
  padding-left: 17.67px;
}

.third-card-headers-hover-effect:hover {
  color: #db2423;
}

.third-card-purchase-price {
  display: flex;
  justify-content: space-between;
  padding-left: 43px;
  padding-right: 8px;
  padding-top: 19px;

  color: #000;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  letter-spacing: -0.36px;
  // text-align: justify;
}

.final-output {
  border-radius: 8px;
  border: 1px solid #db2423;
  background: rgba(219, 36, 35, 0.04);
  // padding: 21.45px;
  margin: 21.45px;
}

.finding-car {
  padding-top: 110px;
  color: #000;
  font-family: Inter;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: center;
}

.finding-car-btn {
  display: flex;
  justify-content: space-between;
  width: 42rem;
  padding: 1rem;
  // background: black;
}

.finding-car-btn-btn {
  // padding-left: 20px
  border: solid rgba(0, 0, 0, 0.16);
  border-radius: 58px;
}

.finding-car-btn-btn:hover {
  background: black;
  color: white;
}

.row-data {
  // border: solid gray;
  border: 1px solid rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.25);
  // gap: 1rem;
  border-radius: 8px;
  justify-content: space-between;
  padding-left: 1rem;
  margin-top: 0rem;
  padding-top: 2rem;
  text-align: center;
}

.row-data-inside-data {
}

.car-types {
  gap: 1rem;
}

.car-types-grid {
  background: rgba(217, 217, 217, 0.15);
  padding: 3rem;
}

.footer {
  background: black;

  // flex: auto;

  // position: relative;

  display: flex;
}

.footer-download {
  color: white;

  margin-left: 5%;

  float: left;

  padding: 2%;
}

.google-apple-btn {
  display: flex;

  // justify-content: flex-end;

  flex-direction: row;

  margin-top: auto;

  margin-bottom: auto;

  margin-left: 100px;
}

.google-play-store {
  position: relative;

  padding-right: 3px;
}

.google-img-bg,
.google-img-text {
  position: absolute;

  // padding-left: 30px;

  margin-left: 10px;

  top: 0;

  margin-right: 0;

  left: 0;
}

.apple-btn {
  //     width: 282.725px;

  // height: 80px;

  // flex-shrink: 0;

  width: 212.725px;

  height: 62px;
}

.google-img-bg {
  width: 207.725px;

  height: 56px;
}

.google-img-text {
  // width: 212.725px;

  // height: 62px;

  margin-left: 50px;

  margin-top: 12px;

  width: 133.725px;

  height: 33px;
}

#footer-description {
  color: rgba(255, 255, 255, 0.8);

  font-family: Montserrat;

  font-size: 24px;

  font-style: normal;

  font-weight: 400;

  line-height: normal;
}

#footer-heading {
  color: #fff;

  font-family: Inter;

  font-size: 42px;

  font-style: normal;

  font-weight: 700;

  line-height: 46px;

  /* 109.524% */
}

hr {
  color: rgb(255, 255, 255);

  margin: 0;
}

.footer-bottom {
  background: black;

  display: flex;

  width: auto;

  // flex-direction: row;

  justify-content: center;

  align-items: center;

  // gap: 1146px;
}

.footer-aurion-logo {
  width: 177px;

  height: 45px;

  flex-shrink: 0;

  margin-left: 174.5px;

  margin-top: 34px;

  margin-bottom: 34px;
}

.footer-btn {
  color: #fff;

  border: 0;

  background: none;
}

.footer-btn-group {
  justify-content: center;

  margin: auto;
}

.quick-links-footer {
  margin-right: 197px;
}


//============================================================================================
