// .border{
//     margin-top:20px;
//     border: solid rgb(236, 234, 234);
//   }

.div1{
    margin-top: 50px;
    
    //display: inline;
   //border-style: groove;
    //border: solid rgb(236, 234, 234);
    margin-left: 250px;
    margin-right: 90px;
    display:flex;

}

//  .border{
//     margin-top:25px;
// //     border-color: white;
//  }
.ul1{
    margin-top: 115px;
    list-style: none;
    position: absolute;
}
h5{
    margin-left: 50px;
    display: inline;
    color: black;
    font-size: 20px;
    //font-family: Montserrat;
    font-weight: 600;
    word-wrap: break-word;
}
h4{
    color: black;
font-size: 22px;
//font-family: Montserrat;
font-weight: 500;
line-height: 30.56px;
word-wrap: break-word
}

.a1{
    // margin-left: 700px;
    margin-left: 450px;
    color:red;
    text-decoration: none;
}
.pro-btn{
    margin-right: 10px;
    width: 170px;
    border: solid #D9D9D9;
    border-width: 1px;
    margin-top:2px;
    margin-left: 47px;
        // transition-duration: 0.4s;
    
}

.pro-btn:hover {
    border:solid red; /* Green */
    background: #db232359;
    color: white;
    border-width: 1px;
    margin-left: 47px;

  }
  .pro-btn:focus {
    border:solid red; /* Green */
    background: #db232359;
    color: white;
    border-width: 1px;
    margin-left: 47px;

  }
  .set-btn{
  //  margin-right: 10px;
    //width: 170px;
    border: solid #D9D9D9;
    border-width: 1px;
    margin-top:2px;
    margin-left:15px;
  }
  .set-btn:hover {
    border:solid red; /* Green */
    background: #db232359;
    color: white;
    border-width: 1px;
    margin-left:15px;
  }
  .set-btn:focus {
    border:solid red; /* Green */
    background: #db232359;
    color: white;
    border-width: 1px;
    margin-left:15px;

  }

// .img1{
//     margin-top: 130px ;
//     margin-left:400px;
// }
// .img2{
//     margin-top: 130px ;
//     margin-left:400px;
// }
// .img1{
//     margin-top: 10px ;
//     margin-left:430px;
// }
p{
    //width:100%;
    margin-right: 80px;
    color: black;
//font-size: 22px;
//font-family: Montserrat;
//font-weight: 500;
//line-height: 30.56px;
word-wrap: break-word
}
.div2{
    //border-style: inset;
    border: solid 1px rgb(236, 234, 234);
    //margin-top: 40px;
    margin-top: 20px;
    margin-left: 300px;
    margin-right: 90px;
    padding-bottom: 80px;
}
.div3{
    //border-style: inset;
    margin-top: 80px;
    margin-left: 100px;
   
    //background-color: rgb(245, 244, 244);
}

//p.inset {border-style: inset;}
.btn1{
    margin-top: 30px;
    margin-left: 100px;
    //display: block;
    width: 12%;
    
    
}
// .divs{
//     display: flex;
// }
.div4{
    margin-top: 100px ;
    margin-right:200px;
    float: right;    
}
.btn2{
    //float: right;
    margin-top: 30px;
    width: 12%;
    margin-left: 30px;
    // margin-bottom: 200px;
  

}
.form-control{
    margin-left: 30px;
    height: 80%;
    width: 130%;
}
a{
   
    padding: 10px;
    text-decoration: none;
    color: white;
    
}
.sidebar{
    display: flex;
    position: absolute;
    background-color: black;
    width: 15%;
    height: 90%;
    margin-top: 10px;
   // margin-left: -500px;
}
.main{
    display: flex;
}
.img3{
   // width: 100%;
   margin-left: 10px;
   margin-top: 50px;
}
.ul1{
    margin-top: 60px;
    //margin-top: 80px;
    list-style: none;
    position: absolute;
   
}
::placeholder{
    color:black;
}
.anchor:hover{
    cursor: pointer;
    color:red;
}
.anchor:focus{
    color:red;
}
// a:hover{
//     color:red;
// }
.anchor{
    color:black; 
    text-decoration: underline;
}
 #link1:active{
    color:red;
 }
 