.mainclass{

  height: 100vh;

  z-index: -1;

  position: absolute;

  background-image: url(../../assets/login_image/background.png);

  background-size: 100% 100%;

  // background-repeat: no-repeat;

  display: flex;

  gap: 20%;

  padding-left: 10rem;

  padding-right: 10rem;

  overflow: hidden;

  width: 100vw;

}

.childclass1 {

  position: relative;

  width: 50%;

}
.childclass1 img {

  height: 51%;

  display: flex;

}

.subchild1 {

  margin-top: -130px;

  margin-left: 2rem;

}
.subchild1 h1 {

  font-size: 32px;

  margin-left: -9rem;
  color: white;
}

.subchild1 p {

  margin-top: 2%;

  width: 60%;

  font-size: 12px;

  color: #D9D9D9;

}
.childclass2{

  margin-top: 5%;

  border-radius: 10px;

  position: relative;

  width: 41%;

  // height: ;

  padding: 1rem 2rem;

  background-color: white;

  // height: 91vh;

 

}

.childclass2 p{

  color: #000;

  font-size: 10px;

  font-style: normal;

  font-weight: 400;

  // line-height: 22.53px;

  margin-top: 5%;

  margin-bottom: 1%;

}

.form-group {

  line-height: 3rem;

  font-family: 'Aps-Montserrat';
  font-weight: bold;
  color: #444444;

  font-size: 0.7rem;

}



.started{

  background-color: #DB2423;

  font-family: 'Aps-Montserrat';

  color: white;

  font-size: 75%;

  padding-top: 0.5rem;

  padding-bottom: 0.5rem;

  margin-top: 8%;

  width: 100%;

}

.childclass2 h1{

  margin-bottom: 7%;

text-align: center;

  margin-top:35px;  

  color: #444;

  font-family: 'Aps-Montserrat';

  font-size: 18px;

  font-style: normal;

  font-weight: 700;

}