<!-- <div class="container">

</div> -->
<div class="backgroundImage">
     <nav id="car-subs-nav" class="navbar bg-body-white py-3 border border-1 border-top-0 border-start-0 border-end-0 ">
        <div>
            <a class="nav-brand" href="#">
                <img class="logoo imgg" src="../../assets/Aurionpro.png" alt="Bootstrap">
            </a>
        </div>

        <label class="fontWhite marginLeft">Home</label>
        <label class="fontWhite">About Us</label>
        <label class="fontWhite">Cars</label>
        <label class="fontWhite">Services</label>
        <button type="button" class="btn btn-danger loginBtn">Login/Register</button>
        <label class="fontWhite">En</label>
        
    </nav> 
    <label class="arrowImage" id="arrow"><img src="../../assets/DownArrow.png"></label>
    <!-- <nav class="navbar navbar-expand-lg navbar-light bg-body-white">
        <div class="container">
          <a class="navbar-brand" href="#">
            <img src="../../assets/Aurionpro.png" alt="Aurionpro" class="logo">
          </a>
      
          <div class="navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto">
              <li class="nav-item">
                <a class="nav-link" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">About Us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Cars</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Services</a>
              </li>
              <li class="nav-item">
                <button type="button" class="btn btn-danger loginBtn">Login/Register</button>
              </li>
              <li class="nav-item">
                <a class="nav-link">En</a>
              </li>
            </ul>
          </div>
        </div>
      </nav> -->
      <!-- <nav class="navbar navbar-expand-lg navbar-light bg-body-white">
        <div class="container">
          <a class="navbar-brand" href="#">
            <img src="../../assets/Aurionpro.png" alt="Aurionpro" class="logo">
          </a>
      
          <div class="navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto">
              <li class="nav-item">
                <a class="nav-link text-white" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="#">About Us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="#">Cars</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="#">Services</a>
              </li>
              <li class="nav-item">
                <button type="button" class="btn btn-danger loginBtn">Login/Register</button>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white">En</a>
              </li>
            </ul>
          </div>
        </div>
      </nav> -->
      
      
    <div>
        <h1 class="brandNameText">MERCEDES</h1>
    </div>



    <div class="twoDivFirst">
        <div class="twoDivSecond">
            <div class="twoDivThird">2</div>
        </div>
        <div class="twoDivFourth">It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</div>
    </div>


    <div class="firstDiv">
        <div class="secondDiv">
            <div class="thirdDiv">1</div>
        </div>
        <div class="fourthDiv">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an
            unknown printer took a galley of type and scrambled it to make a type specimen book.</div>
    </div>

    <div class="threeDivFrist">
        <div class="threeDivSecond">
            <div class="threeDivThird">3</div>
        </div>
        <div class="threeDivFourth">In addition to speeds, you'll also choose between manual and automatic transmissions.</div>
    </div>

    <!-- <div style="width: 100px; height: 100px; position: relative; border-radius: 4px; border: 1px white solid; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
        <div style="width: 206px; height: 54px; background: rgba(255, 255, 255, 0)"></div>
        <div style="justify-content: center; align-items: center; gap: 16px; display: inline-flex">
            <div style="color: white; font-size: 18px; font-family: Inter; font-weight: 500; word-wrap: break-word">Find out more</div>
        </div>
    </div> -->

<div class="find-more-button-main">
    <div class="rounded border border-white flex-column justify-content-start align-items-start findMoreFirstDiv">
        <div class="w-100 h-100 findMoreSecondDiv"></div>
        <div class="d-inline-flex justify-content-center align-items-center gap-2 pad-bot">
            <div class="text-white custom-font-size fs-5 fw-500">Find out more</div>
        </div>
    </div>

    <div class="fourDotsFirst">
        <div class="fourDotsSecond"></div>
        <div class="fourDotsThird"></div>
        <div class="fourDotsFourth"></div>
        <div class="fourDotsFifth"></div>
    </div>
</div>
</div>

<div class="howItWorks">How it works</div>
<div class="highPerform">A high-performing web-based car buying system</div>


<div class="container imageContainer">
    <div class="row">
      <div class="col">
        <div class="shadow-box">
            <img width="66" height="66" src="../../assets/search.png">
        </div>
        <div class="browsSelect">Browse  and Select</div>
        <div style="width: 100%; height: 100%; color: #424242; font-size: 16px; font-family: Montserrat; font-weight: 400; line-height: 28px; word-wrap: break-word">Aliquam erat volutpat. Integer malesuada turpis id fringilla suscipit. Maecenas ultrices, orci vitae convallis mattis.</div>
      </div>
      <!-- <div>
          <img src="../../assets/Vector 5.png">
      </div> -->
      <div class="col">  
        <div class="vectorImage-main">
            <img class="vectorImage" src="../../assets/vector.png">
        </div>      
      </div>
      <div class="col">
        <div class="shadow-box">
            <img width="66" height="66" src="../../assets/square_icon.png">
        </div>
        <div class="browsSelect">Browse  and Select</div>
        <div style="width: 100%; height: 100%; color: #424242; font-size: 16px; font-family: Montserrat; font-weight: 400; line-height: 28px; word-wrap: break-word">Aliquam erat volutpat. Integer malesuada turpis id fringilla suscipit. Maecenas ultrices, orci vitae convallis mattis.</div>
      </div>
      <div class="col">
        <div class="vectorImage-main">
            <img class="vectorImage" src="../../assets/vector.png">
        </div>
      </div>
      <div class="col">
        <div class="shadow-box">
            <img width="66" height="66" src="../../assets/car_icon.png">
        </div>
        <div class="browsSelect">Browse  and Select</div>
        <div style="width: 100%; height: 100%; color: #424242; font-size: 16px; font-family: Montserrat; font-weight: 400; line-height: 28px; word-wrap: break-word">Aliquam erat volutpat. Integer malesuada turpis id fringilla suscipit. Maecenas ultrices, orci vitae convallis mattis.</div>
      </div>
    </div>
  </div>

  <div class="rectangleImage">
      <img src="../../assets/Rectangle.png">
  </div>   
  <div class="rectViewAll"> 
      <div style="display: flex;">
          <div class="selectByBrand">Select by Brands</div>
          <div class="viweAndRight">
              <div class="viewAll"> View all</div>
              <div class="rightArrowIcon">
                <img src="../../assets/arrow-right.png">
              </div>
          </div>
      </div>
      <div>
        <div class="row">
            <div class="col">
                <div class="card">
                    <div>
                        <img class="carCard" src="../../assets/car_icons/Toyota.png">
                    </div>
                    <div>
                        Totyota
                    </div>
                </div>
            </div>
            <div class="col">               
                 <div class="card">
                    
                </div>
            </div>
            <div class="col">
                <div class="card">
                    
                </div>
            </div>
            <div class="col">
                <div class="card">
                    
                </div>
            </div>
            <div class="col">
                 <div class="card">
                    
                </div>
            </div>

        </div>
      </div>
  </div>
