#car-subs-nav{
    margin-left: 62px;
    margin-right: 62px;
    // position: fixed;
    // width: 90%;
    // left: 50%;   // align items at center in fixed position
    // transform: translate(-50%, -50%); // align items at center in fixed position
    // z-index: 2;
}

.car-subs {
    margin-left: 62px;
    margin-right: 62px;
    background-color: rgb(255, 255, 255);
}

img {
    height: 2.5rem;
}

.car-subs-location button {
    width: 11rem;
    height: 2.5rem;
    font-weight: 500;
    background-color: #f4f4f4;
}

.car-subs-search input {
    background-color: #f4f4f4;
    width: 20rem;
    height: 2.5rem;
}

.car-subs-search img {
    max-width: 20%;
    max-height: 20%;
}

.vr {
    width: 2px;
    color: black;
}

.car-subs-logogroup img {
    max-width: 3.5rem;
    max-height: 2.2rem;
}

.car-subs-header {
    margin-top: 2rem;
    margin-bottom: 1.7rem;
}

.car-subs-header p {
    font-family: "Montserrat";
    font-weight: bold;
    font-size: 17px;
    color:black;
}

.car-subs-header img {
    max-width: 1rem;
    max-height: 1rem;
    margin-top: 0.3rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.slide {
    width: 48rem;
    height: 32rem;
}

#demo{
    height: 25rem !important;
    width: auto !important;
    border-radius: 10px;
    background-size: 48rem 25rem !important;
} 

.carousel-item img {
    height: 25rem;
    width: auto;
    border-radius: 10px;
}

.carousel-indicators {
    width: 48rem;
    margin: 0px;
}

.carousel-indicators button {
    width: 12rem;
    height: 6rem;
}

.carousel-indicators img {
    height: 6rem;
    border-radius: 4px;
}

.leftcard {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    font-family: "Montserrat";
    color: black;
    min-width: 68%;
    padding: 2.5rem;
    border-radius: 5px;
}


.leftcard h2 {
    font-weight: bold;
    font-family: "Inter";
}

.leftcard p {
    font-family: "Montserrat";
    font-size: 23px;
    font-weight: 700
}

.leftcard h3 {
    font-weight: 700;
    margin-bottom: 25px;
}

.leftcard button {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    margin-right: 10px;
}

.coloraccessories {
    display: flex;
    gap: 30%;
}

.bodyclass {
    display: flex;
    gap: 2%;
}

.rightcard {
    width: 27.5rem;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    border-radius: 5px;
    padding: 1.5rem;
    font-family: "Montserrat";
    color: black;
    height: 52.3rem;
    overflow-y: scroll;
    overflow-x: hidden;
}

.rightcard hr {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.radiobtn{
    height:15px; 
    width:15px; 
    vertical-align: middle; 
    margin-right: 10px;
}

.rightcard-radio {
    display: flex;
    gap: 10%;
}

 .rightcard::-webkit-scrollbar {
     width: 5px;
 }
 
 .rightcard::-webkit-scrollbar-track { 
     border-radius: 10px;
     background: rgba(255, 255, 255, 0);
 }
 
 .rightcard::-webkit-scrollbar-thumb {
     border-radius: 10px;
     background-color: rgb(211, 0, 0);
 }

.rightcard-input-radio {
    accent-color: red;
    margin-right: 1rem;
    height: 20px;
    width: 20px;
}

.rightcard-label {
    font-size: 16px;
    font-weight: bold;
    padding-bottom: 100px;
}

.form-check {
    transform: scale(1.2);
    accent-color: red;
}

.leasehire input{
    height:15px; width:15px; vertical-align: middle; margin-right: 10px;
}

.form-check-label {
    font-size: 12px;
    font-family: "Montserrat";
    font-weight: bold;
}

.subhead{
    font-size: 18px; font-weight: bold; margin-top: 20px;
}

.form-check-input:checked {
    accent-color: red;
    background-color: red;
    color: red;
}

.fields{
    margin-top: 12px;
}

.fields p {
    width: 160px;
    font-size: 13px; 
    font-weight: bold; 
    margin-top: 10px;
}

.fields input{
    height: 1.7rem; 
    margin-top: 10px; 
    width:40%;
}

.numbers {
    display: flex;
    gap: 0.5rem;
}

.numbers button {
    height: 60px;
    width: 60px;
}





// #middle1{
//     margin-left: 2rem;
//     margin-right: 1rem;
// }

// #middle2{
//     margin-right: 2rem;
//     margin-left: 1rem;
// }

.bs4-order-tracking {
    padding-left: 0px;
}

.bs4-order-tracking li {
    list-style-type: none;
    font-size: 13px;
    width: 33.3%;
    float: left;
    position: relative;
    font-weight: 400;
    text-align: center
}

.bs4-order-tracking li>div {
    color: #fff;
    width: 29px;
    line-height: 29px;
    text-align: center;
    display: block;
    font-size: 12px;
    background: linear-gradient(#bdbdbd, #F0F0F0);
    border-radius: 50%;
    margin: auto
}

.bs4-order-tracking li::after {
    content: '';
    width: 100%;
    height: 10px;
    background: linear-gradient(#CDCDCD, #F0F0F0);
    position: absolute;
    left: 0%;
    right: 0%;
    top: 10px;
    z-index: -1
}

.bs4-order-tracking li:first-child:after {
    width: 50%;
    left: 50%
}
// .bs4-order-tracking li:last-child:after {
//     width: 100%;
//     right: 50%;
// }

.bs4-order-tracking li:last-child:after {
    width: 50% !important;
}

.bs4-order-tracking li.active {
    font-weight: bold;
    color: #dc3545
}

// .bs4-order-tracking li.active>div {
//     background: #dc3545
// }

.bs4-order-tracking li.active:after {
    background: #dc3545
}

// .bs4-order-tracking li.finished>div {
//     background: #027e00
// }

.bs4-order-tracking li.finished:after {
    background: #027e00
}

.card-timeline {
    background-color: #fff;
    z-index: 0
}