<nav id="car-subs-nav" class="navbar bg-body-white py-4 border border-4 border-top-0 border-start-0 border-end-0 ">
    <div>
        <a class="nav-brand" href="#">
            <img class="logoo" src="../../assets/logos/logo.png" alt="Bootstrap">
        </a>
    </div>
    <div class="car-subs-location nav-item dropdown">
        <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Mumbai
        </button>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Pune</a></li>
            <li><a class="dropdown-item" href="#">Kharghar</a></li>
            <li><a class="dropdown-item" href="#">Thane</a></li>
        </ul>
    </div>
    <div class="car-subs-search">
        <form class="d-flex input-group" role="search">
            <input class="form-control" type="search" placeholder="Search by Model, Type, etc" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">O</button>
        </form>
    </div>
    <div>
        <h5>Buy Car</h5>
    </div>
    <div class="d-flex" style="height: 40px;">
        <div class="vr"></div>
    </div>
    <div>
        <h5>My Workspace</h5>
    </div>
    <div class="car-subs-logogroup">
        <img src="../../assets/logos/Like.png" class="px-2">
        <img src="../../assets/logos/Notification.png" class="px-2">
        <img src="../../assets/logos/Settings.png" class="px-2">
        <img src="../../assets/logos/Profil.png" class="px-2">
    </div>
</nav>
<div class="car-subs">
    <div class="car-subs-header d-flex">
        <p>HOME</p>
        <img src="../../assets/logos/Vector.png">
        <p>POPULAR CARS</p>
        <img src="../../assets/logos/Vector.png">
        <p>NISSAN CARS</p>
        <img src="../../assets/logos/Vector.png">
        <p>NISSAN MAXIMA PLATINUM 2022</p>
    </div>
    <div class="bodyclass">
        <div>
            <div id="carouselExampleIndicators" class="carousel slide">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div id="demo"></div>
                        <!-- <img src="../../assets/car1.png" class="d-block w-100" alt="..."> -->
                    </div>
                    <div class="carousel-item">
                        <img src="../../assets/car2.png" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="../../assets/car3.png" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="../../assets/car4.png" class="d-block w-100" alt="...">
                    </div>
                </div>
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                        class="active" aria-current="true" aria-label="Slide 1">
                        <img src="../../assets/car1.png" class="d-block w-100" alt="...">
                    </button>
                    <button id="middle1" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                        aria-label="Slide 2">
                        <img src="../../assets/car2.png" class="d-block w-100" alt="...">
                    </button>
                    <button id="middle2" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                        aria-label="Slide 3">
                        <img src="../../assets/car3.png" class="d-block w-100" alt="...">
                    </button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3"
                        aria-label="Slide 4">
                        <img src="../../assets/car4.png" class="d-block w-100" alt="...">
                    </button>
                </div>
            </div>

            <div class="leftcard my-3">
                <h2>Nissan Maxima Platinum 2022</h2>
                <p class="mb-5">Engine Capacity 3.5 L/213 . Diesel . Manual</p>
                <div class="coloraccessories">
                    <div>
                        <h3>Color</h3>
                        <button class="redbtn btn btn-danger border border-primary"></button>
                        <button class="redbtn btn btn-success"></button>
                        <button class="redbtn btn btn-warning"></button>
                        <button class="redbtn btn btn-secondary"></button>
                    </div>
                    <div>
                        <h3>Car Accessories</h3>
                        <img src="../../assets/logos/456.png" style="margin-right: 20px;">
                        <img src="../../assets/logos/123.png">
                    </div>

                </div>
            </div>
        </div>
        <div>
            <div class="rightcard">
                <div class="card card-timeline border-0">
                    <ul class="bs4-order-tracking">
                        <li class="step finished">
                            <div><i class="fa-solid fa-circle-dot" style="color: #db0000;"></i></div>
                            Order Placed
                        </li>
                        <li class="step active">
                            <div><i class="fas fa-bread-slice"></i></div>
                            In transit
                        </li>
                        <li class="step">
                            <div><i class="fas fa-truck"></i></div>
                            Out for delivery
                        </li>
                    </ul>
                </div>
                
                <hr>
                <p style="font-size: 18px; font-weight: bold;" (click)="onClick()">Subscription Type</p>
                <div [style.display]="isUpperVisible ? 'inherit' : 'none'"
                    [style.height]="isUpperVisible ? 'fit-content' : '0'">
                    <div class="leasehire form-check form-check-inline" style="margin-left: -21px;">
                        <input type="radio" name="radio1" value="value" checked>
                        <label class="form-check-label" for="inlineRadio1">Lease</label>
                    </div>
                    <div class="leasehire form-check form-check-inline">
                        <input type="radio" name="radio1" value="value">
                        <label class="form-check-label" for="inlineRadio2">Hire Purchase</label>
                    </div>

                    <p class='subhead'>Tenure</p>
                    <div class="numbers">
                        <button class="btn btn-secondary border border-2 border-danger">24</button>
                        <button class="btn btn-secondary border border-2 border-danger">36</button>
                        <button class="btn btn-secondary border border-2 border-danger">48</button>
                        <button class="btn btn-secondary border border-2 border-danger">60</button>
                        <button class="btn btn-secondary border border-2 border-danger">72</button>
                        <button class="btn btn-secondary border border-2 border-danger">84</button>
                    </div>


                    <p class='subhead'>Usage Type</p>
                    <div class="form-check form-check-inline" style="margin-left: -18px;">
                        <input type="radio" name="radio2" value="value"
                            class="radiobtn" checked>
                        <label class="form-check-label" for="inlineRadio1">Individual</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input type="radio" name="radio2" value="value"
                            class="radiobtn">
                        <label class="form-check-label" for="inlineRadio2">Business</label>
                    </div>

                    <p class='subhead'>Mileage Package</p>
                    <div class="form-check form-check-inline" style="margin-left: -18px;">
                        <input type="radio" name="radio3" value="value"
                            class="radiobtn" checked>
                        <label class="form-check-label" for="inlineRadio1">Low Usage</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input type="radio" name="radio3" value="value"
                            class="radiobtn">
                        <label class="form-check-label" for="inlineRadio2">Moderate Usage</label>
                    </div>
                    <div class="form-check" style="margin-left: 9px;">
                        <input type="radio" name="radio3" value="value"
                            class="radiobtn">
                        <label class="form-check-label" for="inlineRadio2">High Usage</label>
                    </div>

                    <p class='subhead'>End of Lease (Buy Pack)</p>
                    <div class="form-check form-switch" style="margin-left: 35px;">
                        <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked"
                            checked>
                        <label class="form-check-label" for="flexSwitchCheckChecked">Yes</label>
                    </div>
                </div>
                <hr>
                <p style="font-size: 18px; font-weight: bold;" (click)="onPress()">Eligibility</p>
                <div [style.display]="isLowerVisible ? 'inherit' : 'none'"
                    [style.height]="isLowerVisible ? 'fit-content' : '0'">
                    <div class="form-check form-check-inline" style="margin-left: -18px;">
                        <input type="radio" name="radio4" value="value"
                            class="radiobtn" checked>
                        <label class="form-check-label" for="inlineRadio1">Individual</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input type="radio" name="radio4" value="value"
                            class="radiobtn">
                        <label class="form-check-label" for="inlineRadio2">Business</label>
                    </div>
                    <div class="fields">
                        <div style="display: flex;">
                            <p>Monthly Income : </p>
                            <input type="text">
                        </div>
                        <div style="display: flex;">
                            <p >Monthly Expenses : </p>
                            <input type="text">
                        </div>
                        <div style="display: flex;">
                            <p >Monthly Liabilities : </p>
                            <input type="text">
                        </div>
                        <div style="display: flex;">
                            <p >Years of Employment : </p>
                            <input type="text">
                        </div>
                        <div style="display: flex;">
                            <p >Years : </p>
                            <input type="text">
                        </div>
                    </div>
                    <div class="container text-center mt-3">
                        <button class="btn btn-secondary" style="justify-content: center;">Checked</button>
                    </div>
                    <div class="mt-3">
                        <h5 style="font-weight: bolder;">RESULT : <span class="text"
                                style="color: rgb(0, 197, 13);">ELIGIBLE</span></h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>