.div1{
    margin-top: 50px;
    //display: inline;
    //border-style: inset;
    //border: solid rgb(236, 234, 234);
    margin-left: 250px;
    margin-right: 90px;
    display: flex;
   
}
// .nav{
//     margin-top:20px;
//     border: solid rgb(236, 234, 234);
//   }
h5{
    margin-left: 50px;
    display: inline;
}
.a1{
    margin-left: 450px;
    color:red;
    text-decoration: none;
}
.pro-btn{
    margin-right: 10px;
    width: 170px;
    border: solid #D9D9D9;
    border-width: 1px;
    margin-top:2px;
    margin-left: 47px;
        // transition-duration: 0.4s;
    
}

.pro-btn:hover {
    border:solid red; /* Green */
    background: #db232359;
    color: white;
    border-width: 1px;
    margin-left: 47px;
  }
  .pro-btn:focus {
    border:solid red; /* Green */
    background: #db232359;
    color: white;
    border-width: 1px;
    margin-left: 47px;

  }
  .set-btn{
  //  margin-right: 10px;
    //width: 170px;
    border: solid #D9D9D9;
    border-width: 1px;
    margin-top:2px;
    margin-left:15px;
  }
  .set-btn:hover {
    border:solid red; /* Green */
    background: #db232359;
    color: white;
    border-width: 1px;
    margin-left:15px;
  }
  .set-btn:focus {
    border:solid red; /* Green */
    background: #db232359;
    color: white;
    border-width: 1px;
    margin-left:15px;
  }
// .img1{
//     margin-top: 130px ;
//     margin-left:400px;
// }
// .img2{
//     margin-top: 130px ;
//     margin-left:400px;
// }
// .img1{
//     margin-top: 10px ;
//     margin-left:430px;
// }
.div2{
    //border-style: inset;
    border: solid rgb(236, 234, 234);
    // margin-top: 40px;
    margin-top: 20px;
    

    margin-left: 300px;
    margin-right: 50px;
   // display: flex;
   //padding-bottom: 80px;
   padding-bottom: 0px;
    //padding-bottom: 60px;
   // display: flex;
}
.div3{
    //border-style: inset;
    margin-top: 60px;
    margin-left: 150px;
    margin-right: 600px;
    background-color: rgb(245, 244, 244);
}
.img2{
   margin-top: 10px ;
   margin-left:20px;
}
.img1{
    margin-top: 10px ;
    margin-left:50px;
    margin-bottom: 50px;
}
//p.inset {border-style: inset;}
.btn1{
    margin-top: 30px;
    margin-left: 150px;
    //display: block;
    width: 12%;
    margin-bottom: 30px;
    
}
// .divs{
//     display: flex;
// }
.div4{
    //margin-top: 100px ;
    margin-top:10px;
    margin-right:200px;
    float: right;    
    //margin-bottom: 50px;
}
.btn2{
    //float: right;
    margin-top: 30px;
    width: 12%;
    margin-left: 30px;
    margin-bottom: 30px;

}
.userinputfield{
    margin-left: 30px;
    //height: 80%;
    height: 3rem;
    width: 130%;
    margin-top: -0.25rem;
}
.userphoneinput{
    margin-left: 30px;
    height: 3rem;
    width: 130%;
    //margin-top: -0.25rem;
}
.label-input{
    margin-bottom: -0.6rem;
}
.label-input2{
    margin-top: -0.6rem;
}

h4{
    color: black;
    font-size: 24px;
    font-family: Inter;
    font-weight: 600;
    word-wrap: break-word
}


//*******************************************


a{
   
    padding: 10px;
    text-decoration: none;
    color: white;
    
}
// .ul1{
//    // margin-top: 57px;
//    margin-top: 100px;;
//     list-style: none;
//     position: absolute;
// }
.sidebar{
    display: flex;
    position: absolute;
    background-color: black;
    width: 15%;
    height: 100%;
    // margin-top: 10px;
    // margin-left: 10px;
    //margin-top: -50px;
    // margin-top: 10px;
    // margin-left: 10px;
    //margin-top: 0px;
}
.main{
    display: flex;
}
.img3{
   // width: 100%;
   margin-left: 10px;
   margin-top: 50px;
}
// ul{
//     //margin-top: 80px;
//     margin-top: 45px;
//     list-style: none;
//     position: absolute;
   
// }
.btns{
    margin-right:300px ;
    margin-bottom: 50px;
}

