@import 'node_modules/bootstrap/scss/bootstrap';
@import "node_modules/@fontsource/montserrat";
@import "node_modules/@fontsource/inter";
@import "primeng/resources/primeng.css";

:root {
  --red-txt: #DB2423;
  --grey-txt: #D9D9D9;
  --white-txt: white;
  --black-txt: black;

  --font-size: 16px;
  --font-size-8: 0.5rem;
  --font-size-10: 0.625rem;
  --font-size-12: 0.75rem;
  --font-size-13: 0.8125rem;
  --font-size-14: 0.875rem;
  --font-size-16: 1rem;
  --font-size-18: 1.125rem;
  --font-size-20: 1.25rem;
  --font-size-24: 1.5rem;
  --font-size-42: 2.625rem;

  --default-icon-color: none;

  --chart-0: #28407e;
  --chart-1: #00bfa8;
  --chart-2: #afde40;
  --chart-3: #ef637b;
  --chart-4: #627fbe;
  --chart-5: #39b589;
  --chart-6: #e0941b;
  --chart-7: #3389d5;
  --chart-8: #33aeae;
  --chart-9: #e02525;
  --chart-highlight-fill-color: #ff0;
  --chart-highlight-stroke-color: #ff0;

  --dark-filter: invert(0) hue-rotate(0deg);

  --progress: #28716b;

  --footer-border-top-color: none;
  --footer-text: var(--inverted-text-color);

  // Button Variables
  --btn-border-radius: 4px;
  --btn-box-shadow: 0px 0px 0px;

  //aps Card Variables
  --aps-card-border-radius: 6px;
}

.body{
    margin: 0rem;
}

body::-webkit-scrollbar {
    width: 5px;               /* width of the entire scrollbar */
  }
  
body::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0);        /* color of the tracking area */
  }
  
body::-webkit-scrollbar-thumb {
    background-color: rgb(211, 0, 0);    /* color of the scroll thumb */
    border-radius: 5px;       /* roundness of the scroll thumb */
    // border: 2px solid rgb(255, 255, 255);  /* creates padding around scroll thumb */
}