#car-subs-nav {
    // margin-left: 65px;
    // margin-right: 65px;
    position: fixed;
    width: 95%;
    // padding-left: 70px;
    // padding-right: 70px;
    left: 50%;   // align items at center in fixed position
    transform: translate(-50%, 0%); // align items at center in fixed position
    z-index: 10;
    font-size: 17px;
    font-family: "Montserrat";
}

.nav-item{
    margin-left: 15px;
    margin-right: 15px;
}

.nav-link{
    // color: rgba(0, 0, 0, 0);
}

.loginBtn{
    width: 180px;
    background-color: #DB2423;
    color: white;
    font-family: "Inter";
}

.imgg {
    height: 2.6rem;
    padding-left: 30px;
}