#car-subs-nav {
    // margin-left: 65px;
    // margin-right: 65px;
    position: fixed;
    width: 90%;
    left: 50%;   // align items at center in fixed position
    transform: translate(-50%, 0%); // align items at center in fixed position
    z-index: 10;
    color: white;
}

.nav-item{
    margin-left: 20px;
    margin-right: 20px;
}

.nav-link{
    color: rgb(255, 255, 255);
}

.loginBtn{
    width: 180px;
}

.imgg {
    height: 2.5rem;
}