#car-subs-nav {
    
    // margin-left: 65px;
     margin-right: 65px;
    position: fixed;
    width: 87%;
    left: 50%;   // align items at center in fixed position
    transform: translate(-50%, 0%); // align items at center in fixed position
    z-index: 10;
    color: white;

}

.nav-item{
    margin-left: 20px;
    margin-right: 20px;
}
.nav-item-language{
    margin-left: 20px;
    margin-right: -1rem;
}

.nav-link{
    color: rgb(255, 255, 255);
}

.loginBtn{
    font-family: Inter;
    width: 180px;
}

.imgg {
    height: 2.5rem;
}

#langauge{
     padding-left:0.5rem;
}
