<div class="mainclass w-full">



    <div class="childclass1">

        <img src="https://s3-alpha-sig.figma.com/img/c259/7a8d/7f9091727584b82529cb60ae7e5e7c81?Expires=1696809600&Signature=BrXvYQjujd7hPBC58a89qabnssdYSVSPRr8x0nHaUKW9X7CiKTkWixkLxSffm2jNnEet45eQHQo5jA8144I7BAqvZtntOS5f4DiDwdb5lnhV-x42IRh3aSj8pk55vPGdx7qWez7VMmGZRRKdgmp5e-R5GEWOB5ZqbCmqq04ds6FsqScnjkfx73ltc1I7ju7RMpjB6MX72M5wkmKmaUjFwPBDY8I8eM9OsRT2ql9F6f1aLpEv8yjVe3kYsc6~t5OVg4l73oNUOeyXkbIMrYJww2roTisTsZSNBLmUrFP5mmw2g04YMVcnfiZ~fwoBoNJpVLJt0CLOnHpap~XL7n9Hjw__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4">

        <div class="subchild1">



            <h1>Building the Future...</h1>

            <p>Lorem ipsum dolor sit amet,

                consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

        </div>

    </div>



    <div class="childclass2">

        <div class="heading ">

            <p>Verification</p>

        </div>

        <div class="heading2">

            <p>Enter Verification Code</p>

        </div>

        <form (ngSubmit)="onSubmit()">

            <div class="userInput">

                <input class="otp-input-field" type="text" id='first' maxlength="1" onkeyup="clickEvent(this,'sec')">

                <input class="otp-input-field" type="text" id="sec" maxlength="1" onkeyup="clickEvent(this,'third')">

                <input class="otp-input-field" type="text" id="third" maxlength="1" onkeyup="clickEvent(this,'fourth')">

                <input class="otp-input-field" type="text" id="fourth" maxlength="1" onkeyup="clickEvent(this,'fifth')">

            </div>

            <div class="resend-otp">

                <p>If you didn't receive a code, <span><a class="resend-text" href="">Resend</a></span></p>

            </div>

            <button type="submit" class="started btn" (click)="onSubmit()">Verify</button>

            <div class="container">

                <div class="row justify-content-center">

                    <div class="col-md-5">

                        <hr class="my-2">

                    </div>

                    <div class="col-auto">

                        <p class="or-text">or</p>

                    </div>

                    <div class="col-md-5">

                        <hr class="my-2">

                    </div>

                </div>

            </div>



            <button class="googlee btn btn-google"><img src="../../assets/images/icons8-google.jpg" alt="Google Logo"
                    class="google-logo mr-2">Sign Up with Google</button>

            <button class="googlee btn btn-google"><img src="../../assets/images/apple.jpg" alt="Apple Logo"
                    class="google-logo mr-2">Sign Up with Apple</button>

            <div class="span">

                <span>Don't Have an Account? <a1 class="fw-bold text-body" routerLink='register'>RegisterHere</a1>

                </span>

            </div>

        </form>

    </div>



</div>